.App {
  text-align: center;
}

.color-okay {
  position: absolute;
}

.black-okay {
  position: absolute;
}

.black-okay .o-div img {
  mix-blend-mode: multiply;
}

.black-okay .o-div img:hover {
  mix-blend-mode: color-dodge;
}
